@import 'tailwindcss';

@theme inline {
	/* Colors */
	--color-background: #1f1f1f;
	--color-primary: #191919;
	--color-primary-800: #282828;
	--color-white: #f6f6f6;
	--color-green: #aaf17b;
	--color-red: #e05555;

	/* Fonts */
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	/* Easings */
	--ease-fast-in-slow-out: cubic-bezier(0.22, 0.68, 0, 1);
}

body {
	background: var(--color-background);
	color: var(--color-white);
	font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
